:root {
  background-color: rgba(242, 242, 242, 1);

}

.header {
  background-color: var(--light);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 90px;
  background-color: rgba(105, 49, 148, 1);
}

.header .logo {
  color: white;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header .smallLogo {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 10%;
}

.header > div {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.menuOptions {
  display: flex;
  width: 60%;
  color: white;
  justify-content: flex-start;
  text-transform: uppercase;
}

.menuOptions > div {
  display: flex;
  align-items: center;
  margin: 30px;
}

h5 {
  margin-left: 4px;
}

.account {
  width: 20%;
  color: white;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.account > div {
  display: flex;
  align-items: center;
}

.layoutChildren {
  margin-top: 170px; /* Ensure this matches header height with room */
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}
