:root {
  background-color: rgba(242, 242, 242, 1);

}

.header {
  background-color: var(--light);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 90px;
  background-color: rgba(105, 49, 148, 1);
}

.header .logo {
  color: white;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header .smallLogo {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 10%;
}

.header > div {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.menuOptions {
  display: flex;
  width: 60%;
  color: white;
  justify-content: flex-start;
  text-transform: uppercase;
}

.menuOptions > div {
  display: flex;
  align-items: center;
  margin: 30px;
}

h5 {
  margin-left: 4px;
}

.account {
  width: 20%;
  color: white;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.account > div {
  display: flex;
  align-items: center;
}

.layoutChildren {
  margin-top: 170px; /* Ensure this matches header height with room */
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}
.body{
  margin: 30px;
}
.register-container{
  max-width: 700px;
  width: 100%;
  padding: 20px;
}
.register-container .title{
  font-size: 30px;
  font-weight: 500;
}
.register-container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 12px 0px;
}
form .user-details .input{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input .details{
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.user-details .input input, .user-details .input select{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}
.user-details .input input[type="radio"]{
  height: 20px;
}
.user-details .input input:focus, .user-details .input select:focus{
  border: 2px solid rgba(105, 49, 148, 1);
}
form .input-radio .radio-details{
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}
form .input-radio .details{
  display: flex;
  font-weight: 500;
  margin-bottom: 3px;
}
form .register-button{
  height:40px;
  width: 120px;
}
form .register-button input{
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  color:rgba(105, 49, 148, 1);
  border: 2px solid orange;
}
form .register-button input:hover{
  background-color: #fff
}
